{% extends 'core/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
<center>
      <img src="{% static 'core/img/logoUFN_hor.jpg' %}" class="img-responsive" style="max-width: 120px;">
</center>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
      <center>
            <h2>Sistema de Triagem da Covid-19</h2>
            <h4>Disciplina Tópicos Avançados em Informática I</h4>
            <p>Sistema em Python-Django para Triagem da Covid em cursos de graduação e pós-graduação da UFN.</p>
            <img src="{% static 'core/img/coronga.jpg' %}" class="img-responsive" style="max-width: 600px;">
	</center>
{% endif %}

{% endblock %}